.Cat-list{
  font-size: large;
  color: rgb(20, 95, 180);
  font-weight: 200;
  border-radius: 23px;
  border: 20px;
  background-color: rgb(218, 57, 57);
  text-align: center;
}
.List-list{
  font-size: medium;
  color: rgb(102, 99, 247);
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;
}
.List-list ul:hover{
  cursor: pointer;
  color: rgb(15, 15, 121);
}